

<!--<div>
  <div>
    <label>First Name: </label>
    <input [(ngModel)]="patient.idPatient" />
  </div>
  <div>
    <label>Last Name: </label>
    <input [(ngModel)]="patient.firstName" />
  </div>
 
  <div>
    <button (click)="addPatient()">Add</button>
  </div>
</div>
<div *ngIf="patientName" [ngClass]="'success'"> {{patientName}} Added. </div>
<div *ngIf="errorMessage" [ngClass]="'error'"> {{errorMessage}} </div>

-->


<div class="container flex-center z-depth-2 " style="background-color: white;">
    <div class="row">
      <div class="md-form mr-5 mb-5">
        <input [(ngModel)]="patient.idPatient" mdbInputDirective placeholder="First Name" type="text" id="form58" class="form-control mt-5">
      </div>
      <div class="md-form">
        <input [(ngModel)]="patient.firstName" mdbInputDirective placeholder="Last Name" type="text" id="form58" class="form-control mt-5">
      </div>
    </div>
    <button (click)="addPatient()" type="button" class="btn btn-default waves-light ml-5 " mdbWavesEffect><i class="fa fa-plus"></i></button>
  </div>
  <div class="text-center mb-5 " style="color: #85144B">
    <div *ngIf="patientName" [ngClass]="'success'"><strong> {{patientName}} Added. </strong></div>
    <div *ngIf="errorMessage" [ngClass]="'error'"> <strong>{{errorMessage}}</strong></div>
  </div>
  





<div class="container-fluid">
<div class="row">
  <div class="col-md-3">
    <!--Card-->
    <div class="card card-cascade mb-2">
 <!--Button-->
 <a (click)="dropPatient(pat.idPatient)" class="btn btn-danger btn-sm waves-light" role="button" mdbWavesEffect
 style="position: absolute; right: 0; z-index: 999;">
 <i class="fa fa-trash "></i>
</a>
      <!--Card image-->
      <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
          <img src="/assets/img/pacient.png" class="img-fluid mt-4 pl-3 pr-3" alt="">
        <a>
          <div class="mask"></div>
        </a>
      </div>
      <!--/.Card image-->

      <!--Card content-->
      <div class="card-body text-center">
        <!--Title-->
        <h4 class="card-title">
          <strong> First name: {{pat.idPatient}} LastName: {{pat.firstName}} </strong>
        </h4>
        <h5>Post: {{pat.lastName}}</h5>

        <p class="card-text">Department: {{pat.lastName}}
        </p>
        <!--
        <a type="button" class="btn-floating btn-small btn-fb waves-light" mdbRippleRadius>
          <i class="fa fa-facebook"></i>
        </a>
        <a type="button" class="btn-floating btn-small btn-tw waves-light" mdbRippleRadius>
          <i class="fa fa-twitter"></i>
        </a>
        <a type="button" class="btn-floating btn-small btn-dribbble waves-light" mdbRippleRadius>
          <i class="fa fa-dribbble"></i>
        </a>
       
        <input [(ngModel)]="pat.firstName" />
        <input [(ngModel)]="pat.lastName" />
        <select>
          <option>Пункт 1</option>
          <option>Пункт 2</option>
        </select>
        <button (click)="updatePatient(pat)">Edit</button>
        <button (click)="dropPatient(pat.idPatient)">Delete</button>
      -->

      <a (click)="onSelect()" class="btn btn-default btn-block waves-light" role="button" mdbWavesEffect>
          <span *ngIf="isSelected; else elseBlock">
              Close<i class="mb-1 ml-2 fa fa-close"></i>
          </span></a>
          <ng-template #elseBlock>
              <i class="mr-2 fa fa-edit"></i>Edit
          </ng-template>

        <div class="col animated bounceInUp text-center" *ngIf="isSelected" >
          
          <div class="md-form mt-4">
            <input [(ngModel)]="pat.firstName" mdbInputDirective placeholder="First name" type="text" id="form58" class="form-control">
          </div>
          <div class="md-form">
            <input [(ngModel)]="pat.lastName" mdbInputDirective placeholder="Last name" type="text" id="form58" class="form-control">
          </div>
          <a (click)="updateDepartment(dep)" class="btn btn-success btn-sm waves-light " role="button" mdbWavesEffect>
            Save<i class="ml-2 fa fa-check "></i>
          </a>
        </div>


      </div>
      <!--/.Card content-->

    </div>
    <!--/.Card-->
  </div>
</div>
</div>