


<div>
  <div>
    <label>First Name: </label>
    <input [(ngModel)]="personel.firstName" />
  </div>
  <div>
    <label>Last Name: </label>
    <input [(ngModel)]="personel.lastName" />
  </div>
  <div>
    <label>Post: </label>
    <input [(ngModel)]="personel.post" />
  </div>
  <div>
    <button (click)="addPersonel()">Add</button>
  </div>
</div>
<div *ngIf="personelName" [ngClass]="'success'"> {{personelName}} Added. </div>
<div *ngIf="errorMessage" [ngClass]="'error'"> {{errorMessage}} </div>

<div class="container-fluid">
<div class="row">
  <div class="col-md-3">
    <!--Card-->
    <div class="card card-cascade mb-2">

      <!--Card image-->
      <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
          <img src="/assets/img/doctor.png" class="img-fluid mt-4 pl-3 pr-3" alt="">
        <a>
          <div class="mask"></div>
        </a>
      </div>
      <!--/.Card image-->

      <!--Card content-->
      <div class="card-body text-center">
        <!--Title-->
        <h4 class="card-title">
          <strong> First name: {{pers.firstName}} LastName: {{pers.lastName}} </strong>
        </h4>
        <h5>Post: {{pers.post}}</h5>

        <p class="card-text">Department: {{pers.departmentName}}
        </p>

        <!--Facebook-->
        <a type="button" class="btn-floating btn-small btn-fb waves-light" mdbRippleRadius>
          <i class="fa fa-facebook"></i>
        </a>
        <!--Twitter-->
        <a type="button" class="btn-floating btn-small btn-tw waves-light" mdbRippleRadius>
          <i class="fa fa-twitter"></i>
        </a>
        <!--Google +-->
        <a type="button" class="btn-floating btn-small btn-dribbble waves-light" mdbRippleRadius>
          <i class="fa fa-dribbble"></i>
        </a>
       
        <input [(ngModel)]="pers.firstName" />
        <input [(ngModel)]="pers.lastName" />
        <input [(ngModel)]="pers.post" />
        <select>
          <option>Пункт 1</option>
          <option>Пункт 2</option>
        </select>
        <button (click)="updatePersonel(pers)">Edit</button>
        <button (click)="dropPersonal(pers.idPersonel)">Delete</button>
      </div>
      <!--/.Card content-->

    </div>
    <!--/.Card-->
  </div>
</div>
</div>