.success{
    color: green;
    font-size: 20px;
}
.error{
    color: red;
    font-size: 20px;
} 
.update{
    
    color: red;
    background-color: white;
}

.btn-green{
    background: #e8f5e9;
    color:black!important;
}
.icon-1{
    position: absolute;
    z-index: 999;
    top: 5%;
    left: 5%;
}