

<nav class="navbar navbar-expand-lg navbar-dark default-color">
  <a class="navbar-brand" routerLink="/home"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse flex-center " id="navbarNav">
    <ul class="navbar-nav mr-5 ml-5 mt-3 ">
      <li class="nav-item">
        <a class="nav-link" routerLink="/hospital"  routerLinkActive="active">Hospital
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="/department"  routerLinkActive="active">Department</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/patient"  routerLinkActive="active">Pacient</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="/disease"  routerLinkActive="active">Disease</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="/medicine"  routerLinkActive="active">Medicine</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="/patientDisease"  routerLinkActive="active">PatientDisease</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/personel"  routerLinkActive="active">Personel</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="/prescription"  routerLinkActive="active">Prescription</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="/service"  routerLinkActive="active">Service</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"  routerLink="/treatment"  routerLinkActive="active">Treatment</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>