


<div>
    <div>
      <label>First Name: </label>
      <input [(ngModel)]="prescription.idPrescription" />
    </div>
    <div>
      <label>Last Name: </label>
      <input [(ngModel)]="prescription.medicine" />
    </div>
   
    <div>
      <button (click)="addPrescription()">Add</button>
    </div>
  </div>
  <div *ngIf="prescriptionName" [ngClass]="'success'"> {{prescriptionName}} Added. </div>
  <div *ngIf="errorMessage" [ngClass]="'error'"> {{errorMessage}} </div>
  
  <div class="container-fluid">
  <div class="row">
    <div class="col-md-3" >
      <!--Card-->
      <div class="card card-cascade mb-2">
  
        <!--Card image-->
        <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
            <img src="/assets/img/prescription.png" class="img-fluid mt-4 pl-3 pr-3" alt="">
            
          <a>
            <div class="mask"></div>
          </a>
        </div>
        <!--/.Card image-->
  
        <!--Card content-->
        <div class="card-body text-center">
          <!--Title-->
          <h4 class="card-title">
            <strong> idPrescription: {{pre.idPrescription}} medicine: {{pre.medicine}} </strong>
          </h4>
          <h5>patient: {{pre.patient}}</h5>
  
          <p class="card-text">patient: {{pre.patient}}
          </p>
  
          <!--Facebook-->
          <a type="button" class="btn-floating btn-small btn-fb waves-light" mdbRippleRadius>
            <i class="fa fa-facebook"></i>
          </a>
          <!--Twitter-->
          <a type="button" class="btn-floating btn-small btn-tw waves-light" mdbRippleRadius>
            <i class="fa fa-twitter"></i>
          </a>
          <!--Google +-->
          <a type="button" class="btn-floating btn-small btn-dribbble waves-light" mdbRippleRadius>
            <i class="fa fa-dribbble"></i>
          </a>
         
          <input [(ngModel)]="pre.idPrescription" />
          <input [(ngModel)]="pre.patient" />
          <select>
            <option>Пункт 1</option>
            <option>Пункт 2</option>
          </select>
          <button (click)="updatePrescription(pre)">Edit</button>
          <button (click)="dropPrescription(pre.idPrescription)">Delete</button>
        </div>
        <!--/.Card content-->
  
      </div>
      <!--/.Card-->
    </div>
  </div>
</div>
  
