
<img src="http://www.ohodentalclinic.com/images/slide_smile3.jpg" class="img-fluid" alt="Responsive image">
<h1 style="position: absolute; z-index: 999; top: 70px; width: 800px;" class="display-4 text-center">Чарівна посмішка «працює» як візитка і забезпечує 90% успіху у будь-якому товаристві. </h1>

<app-navbar></app-navbar>


