


<div>
  <div>
    <label>First Name: </label>
    <input [(ngModel)]="medicine.idMedicine" />
  </div>
  <div>
    <label>Last Name: </label>
    <input [(ngModel)]="medicine.name" />
  </div>
 
  <div>
    <button (click)="addMedicine()"><i class="fa fa-plus"></i></button>
  </div>
</div>
<div *ngIf="medicineName" [ngClass]="'success'"><strong> {{medicineName}} Added. </strong></div>
<div *ngIf="errorMessage" [ngClass]="'error'"><strong> {{errorMessage}} </strong></div>

<div class="container-fluid">
<div class="row">
  <div class="col-md-3">
    <!--Card-->
    <div class="card card-cascade mb-2">

      <!--Card image-->
      <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
          <img src="/assets/img/doctor.png" class="img-fluid mt-4 pl-3 pr-3" alt="">
        <a>
          <div class="mask"></div>
        </a>
      </div>
      <!--/.Card image-->

      <!--Card content-->
      <div class="card-body text-center">
        <!--Title-->
        <h4 class="card-title">
          <strong> First name: {{med.idMedicine}} LastName: {{med.name}} </strong>
        </h4>
        <h5>Post: {{med.ageLimit}}</h5>

        <p class="card-text">Department: {{med.ageLimit}}
        </p>

        <!--Facebook-->
        <a type="button" class="btn-floating btn-small btn-fb waves-light" mdbRippleRadius>
          <i class="fa fa-facebook"></i>
        </a>
        <!--Twitter-->
        <a type="button" class="btn-floating btn-small btn-tw waves-light" mdbRippleRadius>
          <i class="fa fa-twitter"></i>
        </a>
        <!--Google +-->
        <a type="button" class="btn-floating btn-small btn-dribbble waves-light" mdbRippleRadius>
          <i class="fa fa-dribbble"></i>
        </a>
       
        <input [(ngModel)]="med.idMedicine" />
        <input [(ngModel)]="med.name" />
        <input [(ngModel)]="med.ageLimit" />
        <select>
          <option>Пункт 1</option>
          <option>Пункт 2</option>
        </select>
        <button (click)="updateMedicine(med)">Edit</button>
        <button (click)="dropMedicine(med.idMedicine)">Delete</button>
      </div>
      <!--/.Card content-->

    </div>
    <!--/.Card-->
  </div>
</div>
</div>
