


<!--<div>
    <div>
      <label>City: </label>
      <input [(ngModel)]="hospital.city" />
    </div>
    <div>
      <label>Description: </label>
      <input [(ngModel)]="hospital.description" />
    </div>
    <div>
      <button (click)="addHospital()">Add</button>
    </div>
  </div>
  <div *ngIf="hospitalName" [ngClass]="'success'"> {{hospitalName}} Added. </div>
  <div *ngIf="errorMessage" [ngClass]="'error'"> {{errorMessage}} </div>
  -->


  <div class="container flex-center z-depth-2 " style="background-color: white;">
      <div class="row">
        <div class="md-form mr-5 mb-5">
          <input [(ngModel)]="hospital.city" mdbInputDirective placeholder="City" type="text" id="form58" class="form-control mt-5">
        </div>
        <div class="md-form">
          <input [(ngModel)]="hospital.description" mdbInputDirective placeholder="Description" type="text" id="form58" class="form-control mt-5">
        </div>
      </div>
      <button (click)="addHospital()" type="button" class="btn btn-default waves-light ml-5 " mdbWavesEffect><i class="fa fa-plus"></i></button>
    </div>
    <div class="text-center mb-5" style="color: #85144B">
      <div *ngIf="hospitalName" [ngClass]="'success'"> <strong>{{hospitalName}} Added. </strong></div>
      <div *ngIf="errorMessage" [ngClass]="'error'"> <strong>{{errorMessage}} </strong></div>
    </div>








  <div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <!--Card button delete-->

      <div class="card card-cascade mb-2">
          <a (click)="dropHospital(hosp.idHospital)" class="btn btn-danger btn-sm waves-light" role="button" mdbWavesEffect
          style="position: absolute; right: 0; z-index: 999;">
          <i class="fa fa-trash "></i>
        </a>
        <!--Card image-->
        <div class="view overlay hm-white-slight waves-light " mdbRippleRadius>
            <img src="/assets/img/hospital.png" class="img-fluid mt-4 pl-3 pr-3" alt="">
          <a>
            <div class="mask mt-4"></div>
          </a>
        </div>
        <!--/.Card image-->
  
        <!--Card content-->
        <div class="card-body text-left">
          <!--Title-->
          <h4 class="card-title">
            <strong> Hospital city:  {{hosp.city}} </strong>
          </h4>
          <h5> Hospital description: {{hosp.description}}</h5>

          <!--          <input [(ngModel)]="hosp.idHospital" />
          <input [(ngModel)]="hosp.city" />
          <input [(ngModel)]="hosp.description" />
         
          <button (click)="updateHospital(hosp)">Edit</button>
        </div>
      -->

      <a (click)="onSelect()" class="btn btn-default btn-block waves-light" role="button" mdbWavesEffect>
          <span *ngIf="isSelected; else elseBlock">
              Close<i class="mb-1 ml-2 fa fa-close"></i>
          </span></a>
          <ng-template #elseBlock>
              <i class="mr-2 fa fa-edit"></i>Edit
          </ng-template>

        <div class="col animated bounceInUp text-center" *ngIf="isSelected" >
          
          <div class="md-form mt-4">
            <input [(ngModel)]="hosp.idHospital" mdbInputDirective placeholder="id" type="text" id="form58" class="form-control">
          </div>
          <div class="md-form">
            <input [(ngModel)]="hosp.city" mdbInputDirective placeholder="city" type="text" id="form58" class="form-control">
          </div>
          <div class="md-form">
              <input [(ngModel)]="hosp.description" mdbInputDirective placeholder="description" type="text" id="form58" class="form-control">
            </div>
          <a (click)="updateHospital(hosp)" class="btn btn-success btn-sm waves-light " role="button" mdbWavesEffect>
            Save<i class="ml-2 fa fa-check "></i>
          </a>
        </div>


        <!--/.Card content-->
  
      </div>
      <!--/.Card-->
    </div>
  </div>
</div>